// Resource file.
// See README.txt and LICENSE.txt.
//////////////////////////////////////////////////////////////////////////////

#include <windows.h>
#include <dlgs.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Encoding

#pragma code_page(65001)    // UTF-8

/////////////////////////////////////////////////////////////////////////////
// Manifest

1 MANIFEST "hooker.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
// Icon

1 ICON "hooker.ico"

/////////////////////////////////////////////////////////////////////////////
// Menu

1 MENU
{
    POPUP "&File"
    {
        MENUITEM "&Hook", CMDID_HOOK
        MENUITEM "&Unhook", CMDID_UNHOOK
        MENUITEM SEPARATOR
        MENUITEM "Show &Path", CMDID_SHOWPATH
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4", CMDID_EXIT
    }
}

//////////////////////////////////////////////////////////////////////////////
